.center{
	text-align: center;
}

.title h1{
	font-family: helvetica;
	font-size: 50px;
}

.desc{
	font-family: helvetica;
	font-size: 30px;
}

.link li{
	font-size: 30px;

}

.link p{
	font-size: 30px;
	padding: 0px;
	margin: 0px;
}